<!-- Intoduction -->
<div class="ui vertical stripe segment">
    <h2>Impftermin-Detailansicht</h2>
    <p>Verwalten Sie den ausgewählten Impftermin. Hacken Sie geimpfte Teilnehmer*innen ab, bearbeiten Sie den Termin oder löschen Sie ihn.</p>
</div>
<br>
<button [routerLink]="['../']" class="ui red button tiny">Zurück zur Übersicht</button>
<!--VaceventDetails-->
<div class="ui items">
  <div class="item">
    <!--Info Big-->
    <div class="content">
      <div class="header">{{ vacevent?.vaclocation.name }} | {{vacevent?.date | date:'dd.MM.yyyy'}} | {{vacevent?.startTime | date:'shortTime'}} - {{vacevent?.endTime | date:'shortTime'}}</div>
    </div>
  </div>
  <div class="item" >
    <div class="content">
      <div class="ui segment">
        <!--Buttons Edit, Remove-->
        <button *ngIf="!isDateinPast" class="ui right floated icon button">
          <i class="trash alternate outline icon" (click)="removeVacevent()"></i>
        </button>
        <button *ngIf="!isDateinPast" class="ui right floated icon button" (click)="isFormVisible = !isFormVisible">
          <i class="edit outline icon"></i>
        </button>
        <!--Info Small-->
        <p><b>Bundesland:</b> {{vacevent?.vaclocation.state}}</p>
        <p><b>Impfort:</b> {{vacevent?.vaclocation.city}}</p>
        <p><b>Maximale Teilnehmer*innenzahl:</b> {{vacevent?.maxVac}}</p>
        <!--Users-->
        <div *ngIf="vacevent && !vacevent.users.length; else elseBlock">
          <p><b>Angemeldete Teilnehmer*innen:</b> Es haben sich noch keine Teilnehmer*innen angemeldet.</p>
        </div>
        <ng-template #elseBlock>
          <br>
          <p><b>Angemeldete Teilnehmer*innen:</b></p>
          <form class="ui form" [formGroup]="userForm">
            <div *ngFor="let user of vacevent.users">
              <div class="inline fields">
                <div class="three wide field">
                  <label>{{user.firstName}} {{user.lastName}}</label>
                  <select formControlName="vacStatus" class="floated" (change)="onChangeEdit($event, user)">
                    <option value="false" [selected]="!user.vacStatus">nicht geimpft</option>
                    <option value="true" [selected]="user.vacStatus">geimpft</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
  <!--Change Vacevent Form-->
  <vac-vacevent-details-form *ngIf="isFormVisible"></vac-vacevent-details-form>
</div>