<!-- Intoduction -->
<div class="ui vertical stripe segment">
    <h2>Impftermin-Detailansicht</h2>
    <p>Verwalten Sie den ausgewählten Impftermin. Hacken Sie geimpfte Teilnehmer*innen ab, bearbeiten Sie den Termin oder löschen Sie ihn.</p>
</div>
<br>
<button [routerLink]="['../../vaccinationevents/', vacevent.vaclocation.state]" class="ui red button tiny">Zurück zur Übersicht</button>
<!--VaceventDetails-->
<div class="ui items">
  <div class="item">
    <div class="content">
      <div class="header">{{ vacevent?.vaclocation.name }} | {{vacevent?.date | date:'dd.MM.yyyy'}} | {{vacevent?.startTime | date:'shortTime'}} - {{vacevent?.endTime | date:'shortTime'}}</div>
    </div>
  </div>
  <div class="item" >
    <div class="content">
      <div class="ui segment">
        <button class="ui right floated icon button">
          <i class="trash alternate outline icon" (click)="removeVacevent()"></i>
        </button>
        <button class="ui right floated icon button">
          <i class="edit outline icon"></i>
        </button>
        <p><b>Bundesland:</b> {{vacevent?.vaclocation.state}}</p>
        <p><b>Impfort:</b> {{vacevent?.vaclocation.city}}</p>
        <p><b>Maximale Teilnehmer*innenzahl:</b> {{vacevent?.maxVac}}</p>
        <div *ngIf="vacevent && !vacevent.users.length; else elseBlock">
          <p><b>Angemeldete Teilnehmer*innen:</b> Es haben sich noch keine Teilnehmer*innen angemeldet.</p>
        </div>
        <ng-template #elseBlock>
          <br>
          <p><b>Angemeldete Teilnehmer*innen:</b></p>
          <div *ngFor="let user of vacevent.users">
            <div class="ui form">
              <div class="inline fields">
                <div class="three wide field">
                  <label>{{user.firstName}}</label>
                  <select class="floated">
                    <option value="false">nicht geimpft</option>
                    <option value="true">geimpft</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <div class="ui segment">
        <h3>Termin ändern</h3>
        <form  class="ui large form" [formGroup]="vaceventForm" (ngSubmit)="submitForm()">
          <input type="hidden" name="id">
          <div class="field">
            <label>Standort</label>
            <select class="custom-select" formControlName="vaclocation">
              <option *ngFor="let location of vaclocation" [ngValue]="location.id">{{location.name}} ({{location.address}}, {{location.zipcode}} {{location.city}})</option>
            </select>
            <div *ngIf="errors.location" class="ui negative message"> {{ errors.location }} </div>
          </div>
          <div class="field">
            <label>Maximale Teilnehmer*innenanzahl</label>
            <input formControlName="maxVac">
            <div *ngIf="errors.maxVac" class="ui negative message"> {{ errors.maxVac }} </div>
          </div>
          <div class="field">
            <label>Datum</label>
            <input type="date" formControlName="date">
            <div *ngIf="errors.date" class="ui negative message"> {{ errors.date }} </div>
          </div>
          <div class="field">
            <label>Startzeit</label>
            <input type="time" formControlName="startTime">
            <div *ngIf="errors.startTime" class="ui negative message"> {{ errors.startTime }} </div>
          </div>
          <div class="field">
            <label>Endzeit</label>
            <input type="time" formControlName="endTime">
            <div *ngIf="errors.endTime" class="ui negative message"> {{ errors.endTime }} </div>
          </div>
          <button type="submit" class="ui button" [disabled]="vaceventForm.invalid">Termin ändern</button>
        </form>
      </div>
    </div>
  </div>
</div>