<div id="editform" class="item">
    <div class="content">
      <!--Back Button-->
      <button *ngIf="!isUpdatingVacevent" [routerLink]="['../../']" class="ui red button tiny">Zurück zur Übersicht</button>
      <div class="ui segment">
        <!--Headlines-->
        <h3 *ngIf="isUpdatingVacevent; else elseBlock" >Termin ändern</h3>
        <ng-template #elseBlock>
          <h2>Neuen Impftermin anlegen</h2>
          <p>Legen Sie einen neuen Impftermin für das gewählte Bundesland an:</p>
          <div class="ui tertiary inverted left floated segment">
            <p>{{this.state}}</p>
          </div>
        </ng-template>
        <!--Form-->
        <form  class="ui large form" [formGroup]="vaceventForm" (ngSubmit)="submitForm()">
          <input type="hidden" name="id">
          <!--Location-->
          <div class="field">
            <label>Standort</label>
            <select class="custom-select" formControlName="vaclocation_id">
              <option *ngFor="let vacl of vaclocation" [value]="vacl.id">{{vacl.name}}, {{vacl.city}}</option>
              <option *ngIf="vaclocation == undefined || vaclocation.length == 0" value="0" >Keine Impforte vorhanden für dieses Bundesland</option>
            </select>
            <div *ngIf="errors.vaclocation_id" class="ui negative message"> {{ errors.vaclocation_id }} </div>
          </div>
          <!--MaxVac-->
          <div class="field">
            <label>Maximale Teilnehmer*innenanzahl</label>
            <input formControlName="maxVac">
            <div *ngIf="errors.maxVac" class="ui negative message"> {{ errors.maxVac }} </div>
          </div>
          <!--Date, Time-->
          <div class="field">
            <label>Datum</label>
            <input type="date" formControlName="date">
            <div *ngIf="errors.date" class="ui negative message"> {{ errors.date }} </div>
          </div>
          <div class="field">
            <label>Startzeit</label>
            <input type="time" formControlName="startTime">
            <div *ngIf="errors.startTime" class="ui negative message"> {{ errors.startTime }} </div>
          </div>
          <div class="field">
            <label>Endzeit</label>
            <input type="time" formControlName="endTime">
            <div *ngIf="errors.endTime" class="ui negative message"> {{ errors.endTime }} </div>
          </div>
          <!--Buttons-->
          <button *ngIf="isUpdatingVacevent" type="submit" class="ui button" [disabled]="vaceventForm.invalid">Termin ändern</button>
          <button *ngIf="!isUpdatingVacevent" type="submit" class="ui button" [disabled]="vaceventForm.invalid">Termin speichern</button>
        </form>
      </div>
    </div>
  </div>