<div id="editform" class="item">
    <div class="content">
      <div class="ui segment">
        <h3>Termin ändern</h3>
        <form  class="ui large form" [formGroup]="vaceventForm" (ngSubmit)="submitForm()">
          <input type="hidden" name="id">
          <div class="field">
            <label>Standort</label>
            <select class="custom-select" formControlName="vaclocation_id">
              <option *ngFor="let vacl of vaclocation" [value]="vacl.id">{{vacl.name}}, {{vacl.city}}</option>
            </select>
            <div *ngIf="errors.location" class="ui negative message"> {{ errors.location }} </div>
          </div>
          <div class="field">
            <label>Maximale Teilnehmer*innenanzahl</label>
            <input formControlName="maxVac">
            <div *ngIf="errors.maxVac" class="ui negative message"> {{ errors.maxVac }} </div>
          </div>
          <div class="field">
            <label>Datum</label>
            <input type="date" formControlName="date">
            <div *ngIf="errors.date" class="ui negative message"> {{ errors.date }} </div>
          </div>
          <div class="field">
            <label>Startzeit</label>
            <input type="time" formControlName="startTime">
            <div *ngIf="errors.startTime" class="ui negative message"> {{ errors.startTime }} </div>
          </div>
          <div class="field">
            <label>Endzeit</label>
            <input type="time" formControlName="endTime">
            <div *ngIf="errors.endTime" class="ui negative message"> {{ errors.endTime }} </div>
          </div>
          <button type="submit" class="ui button" [disabled]="vaceventForm.invalid">Termin ändern</button>
        </form>
      </div>
    </div>
  </div>