<!-- Intoduction -->
<div class="ui vertical stripe segment">
  <div *ngIf="!admin; else elseBlock">
    <h2>Anmeldung zur Corona-Impfung</h2>
    <p>Wählen Sie einen Impftermin aus. <b>Sie können nur einen Termin buchen, wenn Sie eingeloggt sind.</b></p>
  </div>
  <ng-template #elseBlock>
    <h2>Impftermine verwalten</h2>
    <p>Wählen Sie aus, für welches Bundesland Sie Impftermine verwalten möchten.</p>
  </ng-template>
</div>
<br>
<button routerLink="../../home" class="ui red button tiny">Zurück zur Übersicht</button><br><br>
<!-- Filters for Vacevents -->
<div *ngIf="vacevents && vacevents.length" class="ui vertical strip segment">
  <div class="ui middle aligned grid container">
    <div class="two wide column">
      <div class="ui header red">
        <p>{{state}}</p>
      </div>
    </div>
    <form class="ui form" *ngIf="vaclocation.length>1" [formGroup]="vaclocationForm">
        <div class="inline field">
          <label>Standort</label>
          <select class="custom-select" formControlName="vaclocations" (change)="onChangeFilter($event)">
            <option value="0" [selected] = "selected">alle</option>
            <option *ngFor="let vacl of vaclocation" [value]="vacl.id">{{vacl.name}}, {{vacl.city}}</option>
          </select>
        </div>
    </form>
  </div>
</div>
<!-- List of Vacevents -->
<br>
<div *ngIf="admin" [routerLink]="['./new/create']" class="ui right floated red button tiny">+ Neuen Termin anlege</div>
<br>
<div *ngIf="vacevents && vacevents.length"  class="ui middle aligned divided list">
  <div *ngFor="let vacevent of vacevents" class="item" >
    <div class="content">
      <span *ngIf="vacevent.vaclocation.id == vaclocation_id_filtered || vaclocation_id_filtered == 0" class="item vac-vacevent-state-item" [vacevent]="vacevent"></span>
    </div>
  </div>
</div>
<!--No vacevents-->
<div *ngIf="vacevents && !vacevents.length" class="ui vertical segment">
  <h3>{{state}}</h3>
  <div class="ui red icon message">
    <i class="x icon"></i>
    <div class="content">
      <p>Es gibt zur Zeit noch keien Impftermine für dieses Bundesland.</p>
    </div>
  </div>
</div>
