<!-- Intoduction -->
<div class="ui vertical stripe segment">
  <div *ngIf="!admin; else elseBlock">
    <h2>Anmeldung zur Corona-Impfung</h2>
    <p>Wählen Sie einen Impftermin aus. Sie können sich nur anmelden, wenn Sie eingeloggt sind.</p>
  </div>
  <ng-template #elseBlock>
    <h2>Impftermine verwalten</h2>
    <p>Wählen Sie aus, für welches Bundesland Sie Impftermine verwalten möchten.</p>
  </ng-template>
</div>
<!-- Filters for Vacevents -->
<div *ngIf="vacevents && vacevents.length" class="ui vertical strip segment">
  <div class="ui middle aligned grid container">
    <div class="two wide column">
      <div class="ui header red">
        <p>{{state}}</p>
      </div>
    </div>
    <div class="nine wide column">
      <div class="ui form">
        <div class="inline fields">
          <div class="eight wide field">
            <label>Stadt</label>
            <select class="floated">
              <option value="">one</option>
              <option value="">two</option>
            </select>
          </div>
          <div class="eight wide field">
            <label>Standort</label>
            <select class="floated">
              <option value="">one</option>
              <option value="">two</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- List of Vacevents -->
<div *ngIf="vacevents && vacevents.length"  class="ui middle aligned divided list">
  <div *ngFor="let vacevent of vacevents"  class="item" >
    <div class="content">
      <span class="item vac-vacevent-state-item" [vacevent]="vacevent"></span>
    </div>
  </div>
</div>
<!--No vacevents-->
<div *ngIf="vacevents && !vacevents.length" class="ui vertical segment">
  <h3>{{state}}</h3>
  <div class="ui red icon message">
    <i class="x icon"></i>
    <div class="content">
      <p>Es gibt zur Zeit noch keien Impftermine für dieses Bundesland.</p>
    </div>
  </div>
</div>
