
    <div class="ui masthead vertical padded segment">
      <div class="ui container two column grid"> 
        <div class="column">
          <h1 class="ui header">Österreich impft</h1>
        </div>
        <div class="column">
          <div class="ui secondary pointing menu">
            <div class="right menu">
              <a routerLink="home" routerLinkActive="active" class="item">{{getAdminLabel()}}</a>
              <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="main ui container vertical padded segment">
  
  <router-outlet></router-outlet>

</div>