<br>
<div class="left floated content">
  {{vacevent?.date | date:'dd.MM.yyyy'}}
</div>
<div class="left floated content">
  <p><i class="clock outline icon"></i>{{vacevent?.startTime | date:'shortTime'}} - {{vacevent?.endTime | date:'shortTime'}} <i class="map marker alternate icon"></i><b>Stadt:</b> {{ vacevent?.vaclocation.city }}, <b>Standort:</b> {{ vacevent?.vaclocation.name }}</p>
</div>
<div class="right floated content">
  <div *ngIf="!admin; else elseBlock">
    <div (click)="onClickBook(vacevent.id)" *ngIf="!tooMuch && authService.isLoggedIn()" class="ui red basic button">Termin buchen</div>
    <div *ngIf="tooMuch || !authService.isLoggedIn()" class="ui disabled button">Termin buchen</div>
    <br><br>
  </div>
  <ng-template #elseBlock>
    <div [routerLink]="['./', vacevent.id]" class="ui red basic button">Details anzeigen</div>
    <br><br>
  </ng-template>
</div>

