
  <h2>Anmeldung zur Corona-Impfung</h2>
  <p>Österreichische-Impfanmeldung</p>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/stmk.svg"/>
    <h3>Steiermark</h3>
    <a [routerLink]="['../vaccinationevents', 'Steiermark']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://www.salzburg.gv.at/salzburg_/PublishingImages/landesfarben.jpg?RenditionID=15"/>
    <h3>Salzburg</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/ktn.svg"/>
    <h3>Kärnten</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/ooe.svg"/>
    <h3>Oberösterreich</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/bgld.svg"/>
    <h3>Burgenland</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://www.nationalflaggen.de/media/flags/flagge-niederoesterreich-dienstflagge.gif"/>
    <h3>Niederösterreich</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://hochtirol.files.wordpress.com/2010/03/flagge-tirol-fahne.jpg"/>
    <h3>Tirol</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://www.nationalflaggen.de/media/flags/flagge-vorarlberg-dienstflagge.gif"/>
    <h3>Vorarlberg</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned placeholder segment">
    <img class="ui small image centered " src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Vienna_%28state%29.svg/2000px-Flag_of_Vienna_%28state%29.svg.png"/>
    <h3>Wien</h3>
  <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>

