
<!--Intoduction--> 
  <div class="ui vertical stripe segment">
    <div *ngIf="!admin; else elseBlock">
      <h2>Anmeldung zur Corona-Impfung</h2>
      <p>Wählen Sie das Bundesland aus, in dem Sie geimpft werden möchten.</p>
    </div>
    <ng-template #elseBlock>
      <h2>Impftermine verwalten</h2>
      <p>Wählen Sie aus, für welches Bundesland Sie Impftermine verwalten möchten.</p>
    </ng-template>
  </div>
 <!--States-->
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/stmk.svg"/>
    <h3>Steiermark</h3>
    <a [routerLink]="['../vaccinationevents', 'Steiermark']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Flag_of_Salzburg_%28state%29.svg/2000px-Flag_of_Salzburg_%28state%29.svg.png"/>
    <h3>Salzburg</h3>
    <a [routerLink]="['../vaccinationevents', 'Salzburg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/ktn.svg"/>
    <h3>Kärnten</h3>
    <a [routerLink]="['../vaccinationevents', 'Kärnten']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/ooe.svg"/>
    <h3>Oberösterreich</h3>
    <a [routerLink]="['../vaccinationevents', 'Oberösterreich']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://oesterreich-testet.at/assets/flags/bgld.svg"/>
    <h3>Burgenland</h3>
    <a [routerLink]="['../vaccinationevents', 'Burgenland']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://www.nationalflaggen.de/media/flags/flagge-niederoesterreich-dienstflagge.gif"/>
    <h3>Niederösterreich</h3>
    <a [routerLink]="['../vaccinationevents', 'Niederösterreich']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://hochtirol.files.wordpress.com/2010/03/flagge-tirol-fahne.jpg"/>
    <h3>Tirol</h3>
    <a [routerLink]="['../vaccinationevents', 'Tirol']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://www.nationalflaggen.de/media/flags/flagge-vorarlberg-dienstflagge.gif"/>
    <h3>Vorarlberg</h3>
    <a [routerLink]="['../vaccinationevents', 'Vorarlberg']" class="ui tiny red button">Impftermine ansehen</a>
  </div>
  <div class="ui floated center aligned segment">
    <img class="ui small image centered " src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Vienna_%28state%29.svg/2000px-Flag_of_Vienna_%28state%29.svg.png"/>
    <h3>Wien</h3>
    <a [routerLink]="['../vaccinationevents', 'Wien']" class="ui tiny red button">Impftermine ansehen</a>
  </div>


